* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

body.dark-mode {
    background-color: #000;
    color: #FFF;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: #FFF;
    border-bottom: 2px solid #000;

    height: 48px;

    white-space: nowrap;
    overflow: scroll;

    z-index: 1;
}

header #page-title {
    font-family: 'Unica One', cursive;

    font-size: 28pt;

    background-color: #000;
    color: #FFF;
}

header #song-info {
    color: #000;
}

header #song-info #song-artist {
    margin-left: 10px;
    margin-right: 10px;

    font-family: 'Abril Fatface', cursive;

    font-size: 26pt;
}

header #song-info #song-title {
    margin-right: 10px;

    font-variant: small-caps;

    font-family: 'Unica One', cursive;

    font-size: 20pt;
}

header #song-info #song-source {
    font-size: 10pt;
    font-style: italic;
}

header #song-info #song-source a {
    text-decoration: none;
    color: #000;
}

header #song-info #song-source a:hover {
    text-decoration: underline;
    color: #555;
}

main {
    margin-top: 50px;
    margin-bottom: 50px;
}

#loading {
    margin-top: 70px;
    font-family: 'Oleo Script', cursive;
    font-size: 30pt;
    text-align: center;
}

/* Modals */
.modal {
    padding-bottom: 0;
}

.modal div.modal-heading {
    margin-bottom: 10px;

    font-family: 'Roboto', sans-serif;

    font-size: 20pt;
    font-weight: bold;

    border-bottom: 1px solid #000;
}

.modal div.modal-section {
    margin-bottom: 10px;
}

/* Converter */
#midi-dropzone {
    border: 1px dashed #000;

    padding: 30px 10px;
}

#midi-dropzone.midi-dropzone-dragging {
    background-color: #EEE;
}

#midi-dropzone>#midi-dropzone-text {
    text-align: center;
    color: #333;
}

textarea#midi-converted-json {
    width: 100%;
}

/* Instruments Selector */
#instruments-selector-container {
    position: fixed;

    z-index: 1;
}

.instrument-selector-container {
    width: 200px;
    /* vertical-align:bottom; */
    float: left;
}

/* Visualizer Selector */
#visualizer-selector-container {
    width: 200px;
    vertical-align: bottom;
    float: right;
}

#song-selector-container {
    margin-right: 5px;

    width: 200px;
    vertical-align: bottom;
    float: right;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #Fff;

    border-top: 2px solid #000;
    padding: 3px;

    z-index: 1;
}

footer a {
    color: #000;
    margin-right:10px;
}

footer a:hover {
    color: #555;
}

footer a .fas {
    cursor: pointer;
}

footer input[type=range] {
    vertical-align: baseline;
}

footer input[type=button] {
    vertical-align: 50%;
}

#progress-slider {
    width: 300px;
}

#visualizer-select-label {
    /* color: #6c757d; */
    font-weight: bold;
}