* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    position: fixed;
    top:0;
    left:0;
    right:0;

    background-color: #FFF;
    border-bottom: 2px solid #000;
}

header #page-title {
    font-family: 'Unica One', cursive;
    
    font-size: 30pt;
    
    background-color: #000;
    color: #FFF;
}

header #song-info {
    /* vertical-align: middle; */
}

header #song-info #song-artist {
    margin-right: 10px;

    font-family: 'Abril Fatface', cursive;

    font-size: 20pt;
}

header #song-info #song-title {
    margin-right: 10px;

    font-family: 'Unica One', cursive;

    font-size: 16pt;
}

header #song-info #song-source {
    font-size: 10pt;
    font-style: italic;
}

header #song-info #song-source a {
    text-decoration: none;
    color: #000;
}

header #song-info #song-source a:hover {
    text-decoration: underline;
    color: #555;
}

main {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Modals */
.modal {
    padding-bottom: 0;
}

.modal div.modal-heading {
    margin-bottom: 10px;
    
    font-family: 'Roboto', sans-serif;
    
    font-size: 20pt;
    font-weight: bold;
    
    border-bottom: 1px solid #000;
}

.modal div.modal-section {
    margin-bottom: 10px;
}

/* Converter */
#midi-dropzone {
    border:1px dashed #000;
    
    padding: 30px 10px;
}

#midi-dropzone.midi-dropzone-dragging {
    background-color: #EEE;
}

#midi-dropzone > #midi-dropzone-text {
    text-align: center;
    color: #333;
}

textarea#midi-converted-json {
    width: 100%;
}

/* Instruments Selector */
#instruments-selector-container {
    position: fixed;
}

.instrument-selector-container {
    width:200px;
    /* vertical-align:bottom; */
    float:left;
}

/* Visualizer Selector */
#visualizer-selector-container {
    width:200px;
    vertical-align:bottom;
    float:right;
}

footer {
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    
    background-color: #Fff;

    border-top: 2px solid #000;
    padding: 5px;
}

footer a {
    color: #000;
}

footer a:hover {
    color: #555;
}

footer a .fas {
    cursor: pointer;
}