#visualizer_original .note {
	margin:1px;

	display: inline-block;
	font-size: 14pt;
	opacity: 0;

	border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;

	padding: 2px;

text-align: center;
}